// -----------------------------------------------------------------------------
// This file contains styles that are specific to the home page.
// -----------------------------------------------------------------------------
.do-reward-card{
    border-radius: 6px;
    box-shadow: 0 2px 6px 0 rgba(0, 0, 0, 0.35);
    background-color: $brand-purple;
    color: #fff;
    padding: 9px 30px;
    font: $font-bold;
    display: flex;
    align-items: center;
    span.reward-number{
        padding: 0px 10px;
        font: $font-bold;
        font-size: 28px;
        color: $gold;
    }
    span.reward-star img{
        width: 8px;
        height: 8px;
    }
}

/* CSS for Steps */
.do-steps-container{
    position: relative;
    padding: 60px 0px;
}
// Step status styling
.do-step-container{
    align-items: flex-start;
    &.active{
        .do-step-status{
            border-color: $brand-color;
            .active{
                opacity: 1;
                transition: .3s;
    
            }
            ~.do-step-arrow{
                opacity: 1;
                color: $brand-color;
            }
        }
        .do-step-heading{
            .do-step-heading-text{
                color: $brand-color;
            }
        }
        .do-step-body{
            z-index: 1;
            opacity: 1;
        }
    }
    &.done{
        .do-step-status{
            .done{
                opacity: 1;
                transition: .3s;
            }
            ~.do-step-arrow{
                color: $text-color;
                opacity: 1;
            }
        }
        .do-step-heading{
            .do-step-heading-text{
                color: $text-color;
            }
        }
    }
}
// Step heading 
.do-step-heading{
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    
    .do-step-heading-text{
        font: $font-regular;
        padding: 0px 20px;
        color: $mid-grey;
    }
    .do-step-arrow{
        opacity: 0;
    }
}
// step status 
.do-step-status{
    width: 24px;
    height: 24px;
    display: inline-flex;
    border: 1px solid $mid-grey;
    border-radius: 50%;
    justify-content: center;
    align-items: center;
    transition: .3s;
    position: relative;

    .done,.active{
        position: absolute;
    }
    .done{
        display: inline-block;
        width: 6px;
        height: 12px;
        margin-top: -2px;
        border-right: 1px solid #2d2d2d;
        border-bottom: 1px solid #2d2d2d;
        transform: rotate(45deg);
        opacity: 0;
        top: calc(50% - 5px);
        left: calc(50% - 3px);
    }
    .active{
        opacity: 0;
        // display: inline-block;
        width: 12px;
        height: 12px;
        top: calc(50% - 6px);
        left: calc(50% - 6px);
        border-radius: 50%;
        background-color: $brand-color;
    }
    
}
// step body
.do-step-body{
    position: absolute;
    z-index: 0;
    opacity: 0;
    top: 60px;
    max-width: calc(66.666667% + 13px);
    left: -3px;
    padding-bottom: 60px;
    .do-step-body-title{
        font: $font-semibold;
        font-size: 18px;
        margin: 0px 0px 40px 0px;
    }
    .do-step-body-subtitle{
        font: $font-semibold;
        font-size: 14px;
        margin: 00px 0px 20px 0px;
    }
    p{
        font: $font-regular;
    }
    .section-col-5{
        width: 61.5%;
        padding: 0px 10px;
    }

    .section-col-3{
        width: 35.9%;
        padding: 0px 10px;
    }
    .section-col-full{
        width: 100%;
    }
}

#onboarded-button{
    margin: 40px 0px 20px 0px;
}
#do-terms-checkbox{
    // margin-bottom: 37px;
    display: inline-block;
}