// -----------------------------------------------------------------------------
// This file contains styles that are specific to the home page.
// -----------------------------------------------------------------------------


/* CSS for Steps */
.do-steps-container{
    position: relative;
    padding: 60px 0px;
    // overflow-x: hidden;
}
// Step status styling
.do-step-container{
    align-items: flex-start;
    &.in-progress{
        .do-step-status{
            border-color: $brand-color;
            .active{
                opacity: 1;
                transition: .3s;
    
            }
            ~.do-step-arrow{
                opacity: 1;
                color: $brand-color;
            }
        }
        .do-step-heading{
            .do-step-heading-text{
                color: $brand-color;
            }
        }
        // .do-step-body{
        //     z-index: 1;
        //     opacity: 1;
        // }
    }
    &.done{
        .do-step-status{
            .done{
                opacity: 1;
                transition: .3s;
            }
            ~.do-step-arrow{
                color: $text-color;
                opacity: 1;
            }
        }
        .do-step-heading{
            .do-step-heading-text{
                color: $text-color;
            }
        }
    }
    &.active{
        .do-step-heading .do-step-heading-text{
            color: $brand-color;
        }
        .do-step-status{
            border-color: $brand-color;
            .done{
                border-color: $brand-color;
            } 
            ~.do-step-arrow{
                opacity: 1;
                color: $brand-color;
            }
        }
        .do-step-body{
                opacity: 1;
                z-index: 1;
                transition: 2s;
            &.hidden{
                z-index: 0;
                opacity: 0;
            }
        }
    }
}
// Step heading 
.do-step-heading{
    display: flex;
    align-items: flex-start;
    margin-bottom: 20px;
    
    .do-step-heading-text{
        font: $font-regular;
        padding: 0px 20px;
        color: $mid-grey;
        line-height: 24px;
        // flex:1;
        pointer-events: none;
        &.clickable{
            cursor: pointer;
            pointer-events: all;
            text-decoration: none;
        }
    }
    .do-step-arrow{
        opacity: 0;
        height: 24px;
    }
}
.reward-sub-text{
    display: block;
    font: $font-regular;
    font-size: 10px;    
    color: $gold;
     &.grey{
         color: $light-grey;
     }
}
// step status 
.do-step-status{
    min-width: 24px;
    width: 24px;
    height: 24px;
    display: inline-flex;
    border: 1px solid $mid-grey;
    border-radius: 50%;
    justify-content: center;
    align-items: center;
    transition: .3s;
    position: relative;

    .done,.active{
        position: absolute;
    }
    .done{
        display: inline-block;
        width: 6px;
        height: 12px;
        margin-top: -2px;
        border-right: 1px solid #2d2d2d;
        border-bottom: 1px solid #2d2d2d;
        transform: rotate(45deg);
        opacity: 0;
        top: calc(50% - 5px);
        left: calc(50% - 3px);
    }
    .active{
        opacity: 0;
        // display: inline-block;
        width: 12px;
        height: 12px;
        top: calc(50% - 6px);
        left: calc(50% - 6px);
        border-radius: 50%;
        background-color: $brand-color;
    }
    
}
// step body
.do-step-body{
    position: absolute;
    z-index: 0;
    opacity: 0;
    top: 60px;
    width: calc(66.666667% + 13px);
    max-width: unset;
    left: 0px;
    min-height: 580px;
    padding-bottom: 60px;
    transition: 0s;
    z-index: 0;
    opacity: 0;
    background: #fff;
    margin-left: calc(33.33% - 3px);
    &.hidden{
        z-index: 0;
        opacity: 0;
        transition: 0s;
    }
    .do-step-body-title{
        font: $font-semibold;
        font-size: 18px;
        margin: 0px 0px 40px 0px;
    }
    .do-step-body-subtitle{
        font: $font-semibold;
        font-size: 14px;
        margin: 00px 0px 20px 0px;
    }
    .do-step-body-subtitle-gold{
        font: $font-regular;
        font-size: 10px;
        color: $gold;
    }
    p{
        font: $font-regular;
        line-height: 20px;
        &.do-text12{
            font: $font-regular;
            font-size: 12px;
          
        }
        &.bold{
            font-weight: 600;
        }
        &.boldest{
            font-weight: 700;
        }
    }
    .section-col-5{
        width: 62.5%;
        padding: 0px 10px;
    }
    .section-col-4{
        width: 50%;
        padding: 0px 10px;
    }
    .section-col-3{
        width: 37.5%;
        padding: 0px 10px;
    }
    .section-col-full{
        width: 100%;
    }
}
.payment-options-container{
    justify-content: space-between;
    flex-wrap: wrap;
    .payment-options{
        // margin-right: 120px;
    }
}
.bottom-box{
    position: fixed;
    background: #f2f7fd;
    bottom: 0px;
    width: 100vw;
    z-index: 99;
    left: 0px;
    padding: 30px 30px;
    display: none;
    .bottom-box-container{
        width: 100%;
    }
    &.show{
        display: flex;
    }
    span{
        font: $font-regular;
        // font-size: 12px;
        line-height: 20px;
        color: #666666;
        margin-right: auto;
    }
}
.payment-options{
    img{
        width: 80px;
    }
}
.button-modal-space{
    margin: 40px 0px 20px 0px;
}
.skip-link{
    position: absolute;
    right: 0px;
    bottom: 80px;
}
.skip-link-mobile{
    position: relative;
    display: block;
    margin-top: 60px;
    text-align: center;
    margin-bottom: 190px;
}
.named-card>img{
    max-width: 341px;
    width: 100%;
}
#do-terms-checkbox{
    // margin-bottom: 37px;
    margin: 10px 0px;
    display: inline-block;
}
#skipOnboarding img{
    margin-bottom: 40px;
    width: 100%;
    max-width: 276px;
}
#body-do-confirmation{
    padding-bottom: 160px;
}
.card-error-text{
    position: absolute;
    font-size: 10px;
    width: 78px;
    right: 15px;
    top: 71px;
    left:auto;
    color: #f74747;
}
.e-call-card{
    width: 200px;
  height: 192px;
  border: solid 1px #e0e0e0;
  background-color: #ffffff;
  padding: 24px 20px;
}
@media (max-width: $screen-sm-max) {
.e-call-card{
    height: auto;
    width: 100%;
    display: flex;
    flex-direction: row !important;

    img{
        padding-right: 30px;
    }
    .e-call-card-content{
        text-align: left;
        display: flex;
        flex-direction: column;
        p{
            text-align: left;
        }
        p:first-child{
            margin-top: 0 !important;
        }
    }
}
.bottom-box{
    .bottom-box-container{
        flex-direction: column;
        padding: 20px 30px;
        span{
            margin-bottom: 40px;
        }
    }
}
    .card-error-text{
        right: 46px;
        top: 101px;
        left: unset;
    }
    .do-steps-container{
        padding: 60px 10px;
    }
    .do-step-container{
        border: none;
        border-bottom: 1px solid $light-grey;
        padding: 30px 15px;
        border-radius: 0px; 

        &.active{
            .do-step-body{
                opacity: 1;
                display: block;
                &.hidden{
                    display: none;
                    opacity: 1;
                }
            }
        }
        &.done{
            border: none;
            border-top: 1px solid $light-grey;
            border-radius: 0px;
            &.active{
                border: 1px solid $light-grey;
            }
        }
        &.in-progress{
            border: 1px solid $light-grey;
            padding: 30px 15px;
            border-radius: 4px; 
        }
    }
    .do-step-heading{
        margin-bottom: 0px;
    }
    .do-step-body{
        position: relative;
        top: 0;
        left: 0;
        max-width: 100%;
        width: 100%;
        min-height: unset;
        height: auto;
        display: none;
        padding-top: 30px;
        padding-bottom: 0px;
        max-width: 380px;
        margin: auto;
        .section-col-5,.section-col-3,.section-col-full,.section-col-4{
            width: 100%;
        }
        &.hidden{
            display: none;
            opacity: 1;
        }
        &.active{
            display: block;
            opacity: 1;
        }
        .do-step-body-title{
            display: none;
        }
    }
}