.offers-box{
    padding-bottom: 100px;
    .do-text{
        height: 100px;
        line-height: 20px;
        overflow: hidden;
    }
}
@media (max-width: $screen-sm-max) {
    .offers-box{
        padding-bottom: 20px;
    }
}