// -----------------------------------------------------------------------------
// This file contains all application-wide Sass variables.
// -----------------------------------------------------------------------------





/// Regular font family
/// @type List
$text-font-stack: 'Open Sans', sans-serif;

$font-regular:  400 14px $text-font-stack;
$font-semibold:  600 14px $text-font-stack;
$font-bold:  700 14px $text-font-stack;
/// Code (monospace) font family
/// @type List
$code-font-stack: 'Courier New', 'DejaVu Sans Mono', 'Bitstream Vera Sans Mono', 'Monaco', monospace !default;





/// Copy text color
/// @type Color
$text-color: #2d2d2d;

/// Main brand color
/// @type Color
$brand-color: #00b1f2;

$brand-purple: #2a2988;
/// Light grey
/// @type Color
$light-grey: #dadada;

/// Medium grey
/// @type Color
$mid-grey: #8a8a96;

/// Dark grey
/// @type Color
$dark-grey: rgb(68, 68, 68) !default;

$gold : #ebb73a;

// My main Sass file.
$mdc-theme-primary: #9c27b0;
$mdc-theme-secondary: #76ff03;
$mdc-theme-background: #fff;


/// Container's maximum width
/// @type Length
$max-width: 1180px !default;





/// Breakpoints map
/// @prop {String} keys - Keys are identifiers mapped to a given length
/// @prop {Map} values - Values are actual breakpoints expressed in pixels
$breakpoints: (
  'small': 768,
  'medium': 992,
  'large': 1200,
) !default;

$screen-md-min: 768px;
$screen-sm-max: ($screen-md-min - 1);
$screen-lg-min: 992px;
$screen-md-max: ($screen-lg-min - 1);
$screen-xl-min: 1200px;
$screen-lg-max: ($screen-xl-min - 1);






/// Relative or absolute URL where all assets are served from
/// @type String
/// @example scss - When using a CDN
///   $base-url: 'http://cdn.example.com/assets/';
$base-url: '/assets/' !default;
