.do-card{
    border-radius: 2px;
    // border: solid 1px #f2f2fd;
    // box-shadow: 1px 2px 6px 0 rgba(213, 213, 234, 0.81);
    box-shadow: 0px 0px 0px 1px #d5d5ea inset;
    background-color: #ffffff;
    padding: 20px;
    text-align: left;
    // width: 140px;
    .heading{
        margin: 0px;
        font: $font-regular;
        line-height: 20px;
        margin-bottom: 10px;
    }
    .data{
        font: $font-bold;
        font-size: 18px;
        margin: 0px;

        .sub-text{
            font: $font-regular;
            font-size: 10px;
        }
    }
   &.small{
       width: 100%;
    max-width: 139.9px;
    }
}
.do-card-container{
    display: flex;
    flex-wrap: wrap;
    .do-card{
        margin: 0px 20px 40px 0px;

        &:last-of-type{
            margin-right: 0px;
        }
    }
}

@media (max-width: $screen-sm-max) {
    .do-card{
        margin-right: 14px;
        &.small{
            width:calc(50% - 28px);
            max-width: unset;
        }
        &.sm-full{
            max-width: 100%;
            margin-right: 0px;
        }
    }
}