// -----------------------------------------------------------------------------
// This file contains all styles related to the button component.
// -----------------------------------------------------------------------------
input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    margin: 0; 
}

/* BUTTONS */
.do-button{
    border: none;
    box-shadow: none;
    border-radius: 34px;
    font: $font-semibold;
    width: 180px;
    height: 38px;
    border: 1px solid transparent;
    margin-bottom: 20px;
    cursor: pointer; 
    outline: none;
    transition: .3s;
    &.primary{
        color: #fff;
        background-color: $brand-color;
        &:active,&:focus{
            background-color: $brand-color;
        }
        &:hover{
            background: lighten($brand-color,10%);
        }
    }
    &.outlined{
        color: $brand-color;
        border: 1px solid $brand-color;
        background-color: #fff;
        &:hover{
            color: lighten($brand-color,10%);
            border-color: lighten($brand-color,10%);
        }
    }
    &:disabled,
    &:disabled:hover,
    &[disabled],&[disabled]:hover{
        background-color: $light-grey;
        color: #fff;
        cursor: not-allowed;
    }
}
.do-button-group{
    display: flex;

    .do-button{
        margin-right: 20px;
        margin-bottom: 0px;
    }


    &.vertical{
        flex-direction: column;
        .do-button{
            margin: 0px 0px 20px 0px;
        }
    }
    &.space-top{
        margin-top: 40px;
    }
}

.space-top-40{
  margin-top: 40px;
}
.space-top-30{
  margin-top: 40px;
}

/* Inputs */
.do-input-group{
  display: flex;

  &.vertical{
    flex-direction: column;

    .do-input-label:last-of-type input{
        margin-bottom: 0px;
      
    }
    input{
      margin-bottom: 30px;
      
    }
  }
}
.do-input-label{
    font: $font-regular;
    cursor: pointer;
}
.do-input-checkbox{
    input{
        width: 0px;
        height: 0px;
    }
}
// Checkbox
$md-checkbox-checked-color: rgb(51, 122, 183);
$md-checkbox-border-color: rgba(0, 0, 0, 0.54);
$md-checkbox-border-color-disabled: rgba(0, 0, 0, 0.26);
$md-checkbox-checked-color-disabled: rgba(0, 0, 0, 0.26);

$md-checkbox-margin: 1em 0;
$md-checkbox-size: 1.25em;
$md-checkbox-padding: .25em;
$md-checkbox-border-width: 2px;
$md-checkbox-border-radius: 0.125em;
$md-checkmark-width: 0.125em;
$md-checkmark-color: #fff;
$md-checkbox-label-padding: .75em;

.md-checkbox {
  position: relative;
  margin: $md-checkbox-margin;
  text-align: left;
  padding-left: 30px;
  &.md-checkbox-inline {
    display: inline-block;
  }
  
  label {
    // cursor: pointer;
    // display: inline;
    // line-height: $md-checkbox-size;
    // vertical-align: top;
    // clear: both;
    // padding-left: 1px;
    &:not(:empty) {
      padding-left: $md-checkbox-label-padding;
    }
    
    &:before, &:after {
      content: "";
      position: absolute;
      left: 0;
      top: 2px;
      z-index: -1;
    }
    
    &:before {
      // box
      width: 16px;
      height: 16px;
      background: #fff;
      border: 1px solid $brand-color;
      border-radius: 1px;
      cursor: pointer;
      transition: background .3s;
    }
  
    &:after {
      // checkmark
    }    
  }
  
  input[type="checkbox"] {
    outline: 0;
    visibility: hidden;
    width: 16px;
    margin: 0 10px 0 0;
    display: inline-flex;
    font-size: inherit;
    width: 0px;
    height: 0px;
    margin: 0px;
    &:checked {
        + label:before{
            background: $brand-color;
            border:none;
        }
        + label:after {
            transform: translate(3px, 5px) rotate(-45deg);
            width: 10px;
            height: 5px;
            border: 1px solid #fff;
            border-top-style: none;
            border-right-style: none;    
        } 
    }
    
    &:disabled {
      + label:before{
        border-color: $md-checkbox-border-color-disabled;
      }
      &:checked {
        + label:before{
          background: $md-checkbox-checked-color-disabled;
        }
      }
    }
  }
}


// Split input
.do-split-input{
  position: relative;
  input{
    border: none;
    margin: 0px;
    font: $font-bold;
    font-size: 18px;  
    letter-spacing: 25.5px;
    width: 220px;
    margin-left: 20px;
    padding-left: 3px;
    outline: none;
    +svg{
      left: 20px;
      position: absolute;
      bottom: 0px;
      width: 100%;
    }
  }
}
// text input

.do-input-text{
  position: relative;
  width: 180px;
  input{
    outline: none;
    border: none;
    border-bottom: 1px solid $mid-grey;
    color: $mid-grey;
    padding: 0px 0px 5px 0px;
    line-height: 20px;
    color: $text-color;
    width: 100%;
    &:focus{
      border-color: $text-color;
    }
    &:focus,&:not(:invalid){
      +.placeholder{
      position: absolute;
      top: -16px;
      font-size: 10px;
      color: $mid-grey;
      }
    }
    &:invalid:not(:required){
      +.placeholder{
        position: absolute;
        top: -16px;
        font-size: 10px;
        color: red;
        }
    }
    &:focus{
      +.placeholder{
        color: $brand-color;
      }
    }
  }
  span.placeholder{
    position: absolute;
    top: 0px;
    font-size: 14px;
    left: 0px;
    pointer-events: none;
    transition: .3s;
    line-height: 20px;
    color: $mid-grey;
  }

  &.wide{
    width: 380px;
  }
}


// mobile
@media (max-width: $screen-sm-max) {
.do-button-group{
  &.vertical-sm{
      flex-direction: column;

      .do-button{
          width: 100%;
          margin: 0px 0px 20px 0px;
          &:last-of-type{
            margin-bottom: 0px;
          }
      }
  }
}
.do-input-group.vertical{
  .do-input-text{
     width: 100%;
    }
}
}