.modal-background{
    @include overlay();
    background: black;
    opacity: 0.9;
}

.modal {
	position: fixed;
	font-family: Arial, Helvetica, sans-serif;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	background: rgba($mid-grey,.3);
	z-index: 99999;
    opacity:0;
    padding: 40px 0px;
	-webkit-transition: opacity 400ms ease-in;
	-moz-transition: opacity 400ms ease-in;
	transition: opacity 400ms ease-in;
    pointer-events: none;
    display: flex;
    align-items: center;
    overflow-y: scroll;
    overflow-y: overlay;
    transition-delay: .1s;
    .modal-body{
        width: auto;
        position: relative;
        margin: auto;
        padding: 40px 100px;
        border-radius: 3px;
        background: #fff;
        transition: .3s;
        transition-delay: 0s;
        transform: scale(0);
        max-width: 590px;
        .modal-heading{
            font: $font-bold;
            font-size: 28px;
            color: $text-color;
            margin: 40px auto 20px auto;
            // width: 70%;
            &.subheading{
                font: $font-semibold;
                font-size: 28px;
                margin: 0px 0px 20px 0px;
            }
        }
        .modal-content{
            font: $font-regular;
            color: $text-color;
            margin: 10px auto 10px auto;
            // width: 70%;
            &.scrollable{
                padding: 20px 10px;
                border-radius: 3px;
                border: solid 1px #f2f2fd;
                overflow-y: scroll;     
                height: 340px;
                font-size: 12px;
                text-align: left;
            }
        }
        .back{
            left: 100px;
            top: 50px;
            position: absolute;
        }
        &.noPadding{
            padding: 0px;
        }
        .modal-padding-wrapper{
            padding: 40px 100px;
        }
    }
    .modal-footer{
        background: #f2f7fd;
        padding: 20px 60px;
        width: 100%;
        max-width: 590px;
    }
}

.modal:target {
	opacity:1;
    pointer-events: auto;
    transition: .3s;
    transition-delay: 0s;
    .modal-body{
        transition: .3s;
        transition-delay: .3s;
        transform: scale(1);
    }
}
.do-body-container.do-modal-open{
    -webkit-filter: blur(1px);
    -moz-filter: blur(1px);
    -o-filter: blur(1px);
    -ms-filter: blur(1px);
    filter: blur(1px);
    filter: blur(1.5px);
}

@media (max-width: $screen-sm-max){
    .modal{
        padding: 0px;
        flex-direction: column;
        .modal-body{
                width: 100%;
                height: 100vh;
                top: 0px;
                margin-top: 0px;
                padding: 40px 20px;
                .back{
                    left: 20px;
                }
                .modal-heading{
                    font-size: 20px;
                    margin-bottom: 30px;
                }
                .modal-padding-wrapper{
                    padding: 40px 20px;
                }
        }
        .modal-footer{
            // position: absolute;
            // bottom: 0px;
            // width: 100%;
            // left: 0px;
            position: relative;
        }
       
    }
    
}