// -----------------------------------------------------------------------------
// This file contains all styles related to the header of the site/application.
// -----------------------------------------------------------------------------
.do-header{
    height: 80px;
}
.do-reward-header{
    background-color: #f2f7fd;
    height: 150px;
    overflow-x: hidden;
    img{
        height: 150px;
    }
    h2,.do-reward-header-text{
        font: $font-semibold;
        font-size: 28px;
        color: $text-color;

    }
    button{
        background-color: $brand-purple;
    }
}
.reward-points-subtext{
    font: $font-regular;
    font-size: 10px;
    margin-bottom: 5px;
    display: inline-block;
}
.do-reward-card{
    border-radius: 6px;
    box-shadow: 0 2px 6px 0 rgba(0, 0, 0, 0.35);
    background-color: $brand-purple;
    color: #fff;
    padding: 9px 20px;
    font: $font-bold;
    display: flex;
    align-items: center;
    span.reward-number{
        padding: 0px 10px;
        font: $font-bold;
        font-size: 28px;
        color: $gold;
    }
    span.reward-star img{
        width: 8px;
        height: 8px;
    }
}
@media (max-width: $screen-sm-max) {
    .do-reward-header{
        // padding: 0px 30px;
        height: auto;
        img{
            width: auto;
            margin-left: 30px;
        }
        h2,.do-reward-header-text{
         width: auto;
         margin: 0px;
         flex: 1;   
        }
        button{
            background-color: $brand-purple;
        }
    }
    .reward-points{
        margin: 0px;
        padding: 60px 30px;
        padding-bottom: 0px;
        background: #fff;
    }
    .reward-star{
        img{
            margin: 0px;
        }
    }
}